<form action="/regster" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  
  <label for="repassword">Re-enter Password:</label>
  <input type="password" id="repassword" name="repassword"><br><br>
  
  <input type="submit" value="Register">
</form>
