@import url('layout.css');
@import url(typography.css);

body{
    
}

.menu{

}

.menu li {
    display: block;
    list-style: none outside;

}

.menu a {
    color: #FFF;
    text-decoration: none;
}

.menu a.fas {
    font-family: inherit;
}

.dash-header,
.dash-footer,
.dash-main-nav {
    background: #333;
    color: #FFF;
}