body {
   background: red; 
   font-size: 48px;
   font-size: 3em;
   font-size: 300%;

}

@media (max-width: 600px) {
    body {
        background: lightskyblue;
        color: black;
    }
    p:before {
        display: block;
        content: 'Phone';
    }
}

@media (min-width: 600px) and (max-width: 1024px){
    body {
        background: rgb(135, 164, 250);
        font-size: 24px;
        color: white;
    }
    p:before {
        display: block;
        content: 'Tablet';
    }
}

@media (min-width: 1024px) {
    body {
        background: rgb(10, 33, 102);
        font-size: 24px;
        color: white;
    }
    p:before {
        display: block;
        content: 'Computer';
    }
}