body {
    padding: 2rem;
}

.site {
    max-width: 80rem;
    margin: 0 auto;
}

.site-header{
    position: relative;
}

.site-header section.search{
    position: absolute;
    top: 0;
    right: 0%;
}

.site-content::after {
    display: block;
    height: 0;
    content: '';
    clear: both;
}

.main-content,
.main-sidebar {
    /* display: inline-block; */
    float: left;
}

.main-content {
    /* border: 4px solid red; */
    width: 68%;
    padding-right: 2rem;
  }
  
  .main-sidebar {
    /* border: 4px solid brown; */
    width: 27%;
    vertical-align: top;
    padding-left: 1rem;
  }