@import url("typography.css");

body {
  padding: 2rem;
}

.site {
  max-width: 80rem;
  margin: 0 auto;
}

.site-header {
  border-bottom: 4px solid #333;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.site-header a {
  text-decoration: none;
  color: black;
}

.site-header nav {}

.site-header nav ul {}

.site-header nav li {
  display: inline-block;
}

.site-header nav a {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid gainsboro;

}

.site-header nav a:focus,
.site-header nav a:hover {
  border-color: black;
  outline: none;

}

.site-footer {
  border-top: 4px solid #333;
  padding-top: 1rem;
  margin-top: 2rem;
}

/*
* Layout
*/

.site-content {
  /* border: 4px solid #000; */
}

.main-content,
.main-sidebar {
  display: inline-block;
}

.main-content {
  /* border: 4px solid red; */
  width: 68%;
  padding-right: 2rem;
}

.main-sidebar {
  /* border: 4px solid brown; */
  width: 27%;
  vertical-align: top;
  padding-left: 1rem;
}

.main-sidebar ul {
  padding: 1rem;
  padding-right: 0;
  padding-top: 0;
}

.main-sidebar>section {
  padding-bottom: 1.5rem;
}

article.post {
  padding-bottom: 3rem;
}

article.post img {
  display: block;
  max-width: 100%;
  height: auto;
}

article.post section.image {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
  position: relative;
}

article.post section.image::before {
  display: block;
  content: '';
  padding-top: 56.25%;
  background: red;

}

article.post section.image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; left: 0;
}