@import url("typography.css");
@import url("layout.css");
@import url("navigation.css");
@import url('elements.css');

body {
  background: #eee;
}

.site-header {
  border-bottom: 4px solid #333;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.site-header a {
  text-decoration: none;
  color: black;
}

.site-content {
  /* border: 4px solid #000; */
}

.main-sidebar ul {
  padding: 1rem;
  padding-right: 0;
  padding-top: 0;
}

.main-sidebar>section {
  padding-bottom: 1.5rem;
}

article.post {
  padding-bottom: 3rem;
}

article.post img {
  display: block;
  max-width: 100%;
  height: auto;
}

article.post section.image {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
  position: relative;
}

article.post section.image::before {
  display: block;
  content: '';
  padding-top: 56.25%;
  background: red;

}

article.post section.image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; left: 0;
}