body {
    margin: 10px;
}

.parent {
    background-color: lightblue;
}

.child-one {
    position: relative;
    top: 10px;
    margin: 0 5px;
    background-color: green;
}

.child-two {
    margin: 0 5px;
    background-color: orange;
}

.child-three {
    margin: 0 5px 5px 5px;
    background-color: pink;
}