* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: gray;
  flex: 0 0 auto;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  background-color: lightskyblue;
  flex: 1;
}

.sidebar1,
.sidebar2 {
  background-color: rgb(245, 251, 79);
  flex: 0 0 25%;
}

footer {
  background-color: gray;
  flex: 0 0 auto;
}

@media screen and (max-width: 768px) {
  main {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
  }
  
  aside {
    flex: 0 0 20%;
  }
  .sidebar1 {
    order: -1;
  }
}
