.ar-image-container {
    background: red;
    /* padding: 2rem; */
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.ar-image-container::before {
    display: block;
    content: '';
    padding-top: 62.50%;
    /* background: green; */
}

.ar-image-container img {
    display: block;
    /* display: none; */
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    overflow: hidden;
}

.search header {
    float: left;
    padding-right: 1rem;
}

.site-header .search {
    top: 0; right: 0;
    display: none;
}

.search input {
    float: left;
    padding: 0.5rem 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
}