/* Typography Global Styles */

/* root element */
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font: normal 16px/1.5 Verdata, Geneva, Tahoma, sans-serif;
}

body {
    font: inherit;
}

h1 {
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {font-size: 3.052rem;}
h2 { font-size: 2.441rem; }
h3 { font-size: 1.953rem; }
h4 { font-size: 1.563rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }