

h1{
    color: rgb(226, 30, 17);
    font-size: 40px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 900;
    word-spacing: normal;
}
.img src{
    width: 150px;
    height: 150px;
    border: 2px solid red;
    border-radius: 50%;

}

body {
    color: rgb(0, 255, 115)
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red
}